<div class="sidebar">
    <div class="container sidebar-sticky">
        <div>
            <img class="img-circle" src="{{ site.baseurl }}assets/images/me.jpg">
        </div>
        <div class="sidebar-about">
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

            {% comment %}
            The code below dynamically generates a sidebar nav of pages with
            `layout: page` in the front-matter. See readme for usage.
            {% endcomment %}

            {% for section in site.data.sections %}
            {% if section.title != null %}
            {% if section.layout == "section" %}
            <a class="sidebar-nav-item active" href="{{ section.url }}">{{
                section.title }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}

            <div id="socialMedia">
                <a class="sidebar-nav-item inlineGrid" href="{{ site.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a class="sidebar-nav-item inlineGrid" href="{{ site.bitbucket }}"><i class="devicon-bitbucket-plain-wordmark"></i></a>
                <a class="sidebar-nav-item inlineGrid" href="{{ site.github }}"><i class="devicon-github-plain-wordmark"></i></a>
            </div>
        </nav>

    </div>
</div>
